In [1]:
idade1 = 39
idade2 = 39
idade3 = 27 

print(idade1)
print(idade2)
print(idade3)

39
39
27

In [2]:
idades = [39, 30, 27, 18]

In [3]:
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 27, 18]

In [7]:
idades[1]
idades[2]
idades[3]

18

In [8]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [9]:
idades.append(15)

In [10]:
idades

[39, 30, 27, 18, 15]

In [11]:
idades[4]

15

In [12]:
idades[5]

IndexError: list index out of range

In [13]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [14]:
idades.remove(30)

In [15]:
idades

[39, 27, 18, 15]

In [16]:
idades.remove(30)

ValueError: list.remove(x): x not in list

In [17]:
idades.append(15)

In [20]:
idades

[39, 27, 18, 15, 15]

In [21]:
idades.remove(15)

In [22]:
idades

[39, 27, 18, 15]

In [24]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [25]:
28 in idades

False

In [26]:
15 in idades

True

In [27]:
if 15 in idades:
    idades.remove(15)

In [28]:
idades

[39, 18, 27]

In [30]:
idades.append(19)
idades

[39, 18, 27, 19, 19]

In [31]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19, 19]

In [33]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [34]:
idades.append([27, 19])

In [35]:
idades

[20, 39, 18, [27, 19]]

In [36]:
for elemento in idades:
    print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [38]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [39]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [40]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [42]:
idades_no_ano_que_vem = [(idade + 1 )for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [44]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [45]:
idades

[20, 39, 18, 27, 19]

In [46]:
def proximo_ano(idade):
    return idade+1

#list comprehension
[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [52]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    lista.append(13)

In [53]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [61]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    print(lista)
    lista.append(13)

In [62]:
faz_processamento_de_visualizacao()

0
[]

In [63]:
faz_processamento_de_visualizacao()

1
[13]

In [64]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [65]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [66]:
def faz_processamento_de_visualizacao(lista = list()):
    print(len(lista))
    print(lista)
    lista.append(13)

In [68]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

1
[13]
2
[13, 13]

In [69]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [71]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

Objetos próprios

In [72]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor):
        self.saldo += valor

    def __str__(self) -> str:
        return f"[>>Codigo {self.codigo} Saldo {self.saldo}<<]"

In [73]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [74]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [75]:
conta_da_dani = ContaCorrente(46723)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 46723 Saldo 1000<<]

In [78]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
    print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 46723 Saldo 1000<<]

In [79]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [80]:
print(contas[0])

[>>Codigo 15 Saldo 500<<]

In [81]:
conta_do_gui.deposita(100)

In [82]:
print(contas[0])

[>>Codigo 15 Saldo 600<<]

In [83]:
print(conta_do_gui)

[>>Codigo 15 Saldo 600<<]

In [84]:
print(contas[2])

[>>Codigo 15 Saldo 600<<]

In [85]:
contas[2].deposita(300)

In [86]:
print(conta_do_gui)

[>>Codigo 15 Saldo 900<<]

In [88]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 Saldo 1000<<] [>>Codigo 46723 Saldo 1100<<]
[>>Codigo 15 Saldo 1100<<] [>>Codigo 46723 Saldo 1200<<]

In [89]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 1100<<] [>>Codigo 46723 Saldo 1200<<]

In [90]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

In [91]:
marco = ("Marco", 26, 1997)
daniela = ("Daniele", 31, 1987)

In [92]:
marco.append(32190)

AttributeError: 'tuple' object has no attribute 'append'

In [93]:
conta_do_gui = (14, 1000)

conta_do_gui[1]

1000

In [94]:
conta_do_gui[1] += 100

TypeError: 'tuple' object does not support item assignment

In [95]:
def deposita(conta):
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [96]:
deposita(conta_do_gui)

(14, 1100)

In [97]:
conta_do_gui

(14, 1000)

In [98]:
conta_do_gui =  deposita(conta_do_gui)
conta_do_gui

(14, 1100)

In [99]:
usuarios = [marco, daniela]
usuarios

[('Marco', 26, 1997), ('Daniele', 31, 1987)]

In [100]:
usuarios.append(("Paulo", 49, 1979))

In [101]:
usuarios

[('Marco', 26, 1997), ('Daniele', 31, 1987), ('Paulo', 49, 1979)]

In [104]:
usuarios[0][0] = "Marco Sérvio"

TypeError: 'tuple' object does not support item assignment

In [106]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(1231289)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [108]:
for conta in contas:
    print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 1231289 Saldo 1000<<]

In [109]:
contas.append(138921)

AttributeError: 'tuple' object has no attribute 'append'

In [110]:
contas[0].deposita(300)

In [111]:
for conta in contas:
    print(conta)

[>>Codigo 15 Saldo 800<<]
[>>Codigo 1231289 Saldo 1000<<]

# Herança e polimorfismo

In [136]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    @abstractmethod
    def passa_o_mes(self):
        pass

    def __str__(self) -> str:
        return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [137]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta without an implementation for abstract method 'passa_o_mes'

In [138]:
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

class ContaInvestimento(Conta):
    pass

In [139]:
ContaInvestimento(88)

TypeError: Can't instantiate abstract class ContaInvestimento without an implementation for abstract method 'passa_o_mes'

In [116]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [117]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [120]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes()
    print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# evitaremos usar array puro. se precisamos de trabalho numerico é costume usar o numpy

In [121]:
import array as arr

arr.array("d", [1, 3.5])

array('d', [1.0, 3.5])

In [122]:
arr.array("d", [1, 3.5, "klasdjaskl"])

TypeError: must be real number, not str

In [123]:
#import numpy as np

##numeros = np.array([1, 3.5])
#numeros

ModuleNotFoundError: No module named 'numpy'

In [ ]:
#numeros + 3

In [140]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [149]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0 <<]

In [150]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0 <<]

In [151]:
conta1 == conta2

AttributeError: 'ContaSalario' object has no attribute 'codigo'

In [145]:
contas = [conta1]
conta1 in contas

True

In [147]:
conta2 in contas

False

In [155]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        return self._codigo == outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [156]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [158]:
conta1 != conta2

False

In [160]:
conta1 in [conta2]

True

In [161]:
conta2 in [conta1]

True

In [162]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [163]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [164]:
conta1.deposita(10)

In [165]:
conta1 == conta2

False

In [167]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [168]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [169]:
conta1 == conta2

False

In [170]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"


class ContaMultiploSalario(ContaSalario):
    pass

In [171]:
isinstance(ContaCorrente(34), Conta)

True

In [177]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [178]:
enumerate(idades)

In [179]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [180]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [182]:
for indice, idade in enumerate(idades):
    print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [184]:
usuarios = [
        ("Marco", 37, 1998),
        ("Dani", 31, 1945),
        ("Paulo", 45, 1932)
    ]

for nome, idade, nascimento in usuarios: # -> mais legivel
    print(nome)

Marco
Dani
Paulo

In [185]:
for nome, _, _ in usuarios:
    print(nome)

Marco
Dani
Paulo

In [186]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [187]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [189]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [190]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [191]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [192]:
idades.sort()

In [193]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [196]:
nomes = ["guilherme", "Dani", "Marco"]
sorted(nomes)

['Dani', 'Marco', 'guilherme']

In [197]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [198]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [199]:
for conta in contas:
    print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]
[>>Codigo 133 Saldo 510 <<]

In [200]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [203]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

In [205]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>>Codigo 17 Saldo 500 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 3 Saldo 1000 <<]

In [206]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [207]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __lt__(self, outro):
        return self._saldo < outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [212]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [209]:
conta_do_guilherme < conta_da_daniela

True

In [210]:
conta_do_guilherme > conta_da_daniela

False

In [215]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>Codigo 3 Saldo 1000 <<]
[>>Codigo 133 Saldo 510 <<]
[>>Codigo 17 Saldo 500 <<]

In [217]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [219]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [222]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [223]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>>Codigo 3 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]

In [225]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __lt__(self, outro):
        if(self._saldo != outro._saldo):
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [226]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [227]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 3 Saldo 500 <<]
[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]

In [228]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [229]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 133 Saldo 500 <<]
[>>Codigo 1700 Saldo 500 <<]
[>>Codigo 3 Saldo 1000 <<]

In [230]:
conta_do_guilherme < conta_da_daniela

True

In [231]:
conta_do_guilherme <= conta_da_daniela

TypeError: '<=' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [232]:
from functools import total_ordering

@total_ordering
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __lt__(self, outro):
        if(self._saldo != outro._saldo):
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f"[>>Codigo {self._codigo} Saldo {self._saldo} <<]"

In [233]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_da_paulo = ContaSalario(133)
conta_da_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_da_paulo]

In [234]:
conta_do_guilherme <= conta_da_daniela

True

In [235]:
conta_do_guilherme <= conta_da_paulo

False

In [236]:
conta_do_guilherme < conta_do_guilherme

False

In [237]:
conta_do_guilherme == conta_do_guilherme

True

In [238]:
conta_do_guilherme <= conta_do_guilherme

True